class HomeSection extends React.Component {
  smoothScroll(e, id) {
    e.preventDefault();
    const navbarSpace = $('.navbar-container').height();
    $('html, body').animate({
      scrollTop: $(`#${id}`).offset().top - navbarSpace
    }, 750);
  }

  openSidebar() {
    $('.nav-sidebar').animate({right: '0px'}, 500);
    $('.close-sidebar').css({'display': 'flex'});
    $('.navbar-menu-icon').css({'display': 'none'});
  }

  closeSidebar() {
    $('.nav-sidebar').animate({right: '-300px'}, 500, () => {
      $('.navbar-menu-icon').css({'display': 'block'});
    });
    $('.close-sidebar').css({'display': 'none'});
  }

  render() {
    return(
      <div id="home-section" className="home-page-container section">
        <div className="navbar-container">
          <div className="navbar-links">
            <a className="brand-link " href="#" onClick={(e) => this.smoothScroll(e, "home-section")}>KGB</a>
            <a id="home-section-link" className="active" href="#" onClick={(e) => this.smoothScroll(e, "home-section")}>HOME</a>
            <a id="about-section-link" href="#" onClick={(e) => this.smoothScroll(e, "about-section")}>ABOUT</a>
            <a id="tour-dates-section-link" href="#" onClick={(e) => this.smoothScroll(e, "tour-dates-section")}>TOUR</a>
            <a id="media-section-link" href="#" onClick={(e) => this.smoothScroll(e, "media-section")}>MEDIA</a>
            <a id="contact-section-link" href="#" onClick={(e) => this.smoothScroll(e, "contact-section")}>CONTACT</a>
          </div>
          <div
            className="navbar-menu-icon"
            onClick={this.openSidebar}
          >
            <i className="fa fa-bars" aria-hidden="true"></i>
          </div>
        </div>
        <div
          ref={(el) => this.$sidebarEl = $(el)}
          className="nav-sidebar">
          <div
            className="close-sidebar"
            onClick={this.closeSidebar}
          >
            <i className="fa fa-times" aria-hidden="true"></i>
          </div>
          <div className="links">
            <a
              className="sidebar-link" href="#"
              onClick={(e) => this.smoothScroll(e, "about-section")}
            >
              <div className="link-inner-container">
                ABOUT
              </div>
            </a>
            <a className="sidebar-link" href="#"
              onClick={(e) => this.smoothScroll(e, "tour-dates-section")}
            >
              <div className="link-inner-container">
                TOUR
              </div>
            </a>
            <a className="sidebar-link" href="#"
              onClick={(e) => this.smoothScroll(e, "media-section")}
            >
              <div className="link-inner-container">
                MEDIA
              </div>
            </a>
            <a className="sidebar-link" href="#"
              onClick={(e) => this.smoothScroll(e, "contact-section")}
            >
              <div className="link-inner-container">
                CONTACT
              </div>
            </a>
          </div>
        </div>
        <div className="awards-text">
          <p>
            PADDY KEENAN: 2002 GRADAM CEOIL<br/>
            MUSICIAN OF THE YEAR
          </p>
          <p>
            DERMOT BYRNE: 2013 GRADAM CEOIL<br/>
            MUSICIAN OF THE YEAR
          </p>
          <p>
            FRANKIE GAVIN: 2018 GRADAM CEOIL<br/>
            MUSICIAN OF THE YEAR
          </p>
        </div>
      </div>
    )
  }
}

