class PageHeading extends React.Component {
  smoothScroll(e, id) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $(`#${id}`).offset().top
    }, 750);
  }

  openSidebar() {
    $('.nav-sidebar').animate({right: '0px'}, 500);
    $('.close-sidebar').css({'display': 'flex'});
    $('.navbar-menu-icon').css({'display': 'none'});
  }

  closeSidebar() {
    $('.nav-sidebar').animate({right: '-300px'}, 500, () => {
      $('.navbar-menu-icon').css({'display': 'block'});
    });
    $('.close-sidebar').css({'display': 'none'});
  }

  render() {
    return(
      <div id="top-of-page" className="home-page-container">
        <div className="navbar-container">
          <div className="navbar-links">
            <a href="#" onClick={(e) => this.smoothScroll(e, "top-of-page")}>HOME</a>
            <a href="#" onClick={(e) => this.smoothScroll(e, "about-section")}>ABOUT</a>
            <a href="#" onClick={(e) => this.smoothScroll(e, "tour-dates-section")}>TOUR</a>
            <a href="#" onClick={(e) => this.smoothScroll(e, "media-section")}>MEDIA</a>
            <a href="#" onClick={(e) => this.smoothScroll(e, "contact-section")}>CONTACT</a>
          </div>
          <div
            className="navbar-menu-icon"
            onClick={this.openSidebar}
          >
            <i className="fa fa-bars" aria-hidden="true"></i>
          </div>
        </div>
        <div
          ref={(el) => this.$sidebarEl = $(el)}
          className="nav-sidebar"
        >
          <div
            className="close-sidebar"
            onClick={this.closeSidebar}
          >
            <i className="fa fa-times" aria-hidden="true"></i>
          </div>
          <div className="links">
            <a
              className="sidebar-link" href="#"
              onClick={(e) => this.smoothScroll(e, "about-section")}
            >
              <div className="link-inner-container">
                ABOUT
              </div>
            </a>
            <a className="sidebar-link" href="#"
              onClick={(e) => this.smoothScroll(e, "tour-dates-section")}
            >
              <div className="link-inner-container">
                TOUR
              </div>
            </a>
            <a className="sidebar-link" href="#"
              onClick={(e) => this.smoothScroll(e, "media-section")}
            >
              <div className="link-inner-container">
                MEDIA
              </div>
            </a>
            <a className="sidebar-link" href="#"
              onClick={(e) => this.smoothScroll(e, "contact-section")}
            >
              <div className="link-inner-container">
                CONTACT
              </div>
            </a>
          </div>
        </div>
        <div className="large-logo">
            <div>KGB</div>
            <div className="logo-names">
              <div>
                <span>Keenan.</span>
                <span>Gavin.</span>
                <span>Byrne.</span>
              </div>
            </div>
        </div>
      </div>
    )
  }
}

