/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  .outer-section {
    border-bottom: 1px solid #BABABB;
    margin: 0 150px;
    .inner-section {
      font-family: 'Josefin Sans', sans-serif;
      margin: 0 auto;
      padding: 40px 0;
      width: 70%;
      .heading-container {
        text-align: center;
        h1 {
          border-bottom: 3px solid #92371D;
          box-shadow: inset 0 -8px 0 #92371D;
          display: inline-block;
          height: 42px;
          margin-bottom: 30px;
          margin-left: auto;
          margin-right: auto;
          padding: 0;
          text-align: center;
        }
      }
    }
    @media(max-width: 1250px) {
      .inner-section {
        width: 90%;
      }
    }
    @media(max-width: 1000px) {
      margin: 0 80px;
      .inner-section {
        width: 100%;
      }
    }
  }
}
