.home-page-container {
  background: image-url('kgb_glasgow.jpg');
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  position: relative;
  background-position: center top;
  height: 100%;
  .navbar-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: background 0.6s;
    .navbar-links {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      // font-weight: bold;
      padding-top: 8px;
      width: 100%;
      a {
        color: #CCCCCC;
        padding: 0 20px;
        text-decoration: none;
        &:hover, &.active {
          color: #92371D;
          font-weight: bold;
        }
      }
      @media(max-width: 767px) {
        display: none;
      }
      a.brand-link {
        color: #92371D;
        font-size: 30px;
      }
    }
    .navbar-menu-icon {
      color: black;
      cursor: pointer;
      display: none;
      font-size: 20px;
      margin-right: 30px;
      position: absolute;
      right: 0;
      &:hover {
        color: #FDC02F;
      }
      @media(max-width: 767px) {
        display: block;
      }
    }
  }
  .nav-sidebar {
    display: flex;
    position: absolute;
    right: -300px;
    top: 0;
    .links {
      background-color: rgba(0, 0, 0, 0.7);
      width: 300px;
      z-index: 1;
      .sidebar-link {
        color: white;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #424347;
        height: 40px;
        padding: 30px;
        text-decoration: none;
        &:hover {
          color: #FDC02F;
        }
        .link-inner-container {
          text-align: center;
          width: 100%;
        }
      }
    }
    .close-sidebar {
      align-items: center;
      color: black;
      cursor: pointer;
      display: none;
      font-size: 30px;
      height: 60px;
      margin-right: 10px;
      &:hover {
        color: #FDC02F;
      }
    }
  }
  .awards-text {
    color: #CCCCCC;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 100px;
    top: 40%;
    text-align: center;
  }
  // .large-logo {
  //   color: #FDC02F;
  //   font-family: 'Lobster Two', cursive;
  //   font-size: 22vh;
  //   font-weight: bold;
  //   margin-top: 80px;
  //   position: absolute;
  //   top: 20vh;
  //   text-align: center;
  //   text-shadow: 2px 2px 2px #666;
  //   width: 100%;
  //   .logo-names {
  //     font-size: 5vh;
  //   }
  //   @media(max-width: 800px) {
  //     .row-one {
  //       max-height: 40px;
  //     }
  //     .keenan {
  //       position: absolute;
  //       top: -110px;
  //     }
  //     .gavin {
  //       position: absolute;
  //       top: 0px;
  //       left: 90px;
  //     }
  //     .byrne {
  //       position: absolute;
  //       top: 110px;
  //       left: 180px;
  //     }
  //   }
  // }
}


#about-section {
  font-family: 'Josefin Sans', sans-serif;
  .about-heading {
    margin-bottom: 20px;
    text-align: center;
  }
  .musician-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .musician-name {
      // background-color: #92371D;
      color: #92371D;
      font-size: 18px;
      font-weight: bold;
    }
    .musician-text {
      margin-right: 50px;
    }
    .musician-image {
      box-shadow: 4px 2px 9px #888888;
      height: 200px;
      &.paddy-image, &.dermot-image {
        margin-right: 20px;
        transform: rotate(5deg);
      }
      &.frankie-image {
        transform: rotate(-5deg);
      }
      @media(max-width: 850px) {
        height: 140px;
      }
      @media(max-width: 700px) {
        display: none;
      }
    }
  }
}

#media-section, #contact-section {
  text-align: center;
  .inner-section {
    iframe {
      margin: 20px 0;
      max-width: 100%;
    }
  }
}

#tour-dates-section {
  .tour-date-container {
    display: flex;
    .tour-date-details {
      font-size: 20px;
      margin-left: 20px;
      text-decoration: none;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #FDC02F;
        }
      }
    }
  }
}
